<header>
		<div class="container">
			<h1 class="logo">
				Your Website Name
			</h1>
			<section class="social">
			    <!--
				<a class="btn" href="http://www.github.com/itbruno">Github</a>
				<a class="btn" href="http://www.twitter.com/_brunoweb">Twitter</a>
				-->
			</section>
		</div>
	</header>

	<div class="container">
    <h1 class="project-name">RESPONSIVE TIMELINE</h1>
    <div>Upload Images</div>
	</div>