<header>
		<div class="container">
			<h1 class="logo">
				Your Website Name
			</h1>
			<section class="social">

			</section>
		</div>
	</header>

	<div class="container">
    <h1 class="project-name">Upload a New Picture</h1>
    <%= render 'form', picture: @picture %>

	<%= link_to 'Back', pictures_path %>
	</div>

